#index {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 180px); 
}

#index h2 {
    font-size: 52px;
    color: #ceb387;
}

#index p {
    font-size: 20px;
    color: #FCFAEE;
    margin-bottom: 25px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: #FCFAEE;
    border: 1px solid #FCFAEE;
    padding: 10px;
    border-radius: 5px;
}


