.dropdown-hamburger {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .dropdown-hamburger {
        display: block; 
    }

    #video {
        width: 100%;
        height: 250px;
    }
}